/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
webpack.mix.js
resources/sass/_alert.scss
resources/sass/_badge.scss
resources/sass/_breadcrumb.scss
resources/sass/_button-group.scss
resources/sass/_buttons.scss
resources/sass/_card.scss
resources/sass/_carousel.scss
resources/sass/_close.scss
resources/sass/_code.scss
resources/sass/_custom-forms.scss
resources/sass/_dropdown.scss
resources/sass/_forms.scss
resources/sass/_functions.scss
resources/sass/_grid.scss
resources/sass/_images.scss
resources/sass/_input-group.scss
resources/sass/_jumbotron.scss
resources/sass/_list-group.scss
resources/sass/_media.scss
resources/sass/_mixins.scss
resources/sass/_modal.scss
resources/sass/_nav.scss
resources/sass/_navbar.scss
resources/sass/_pagination.scss
resources/sass/_popover.scss
resources/sass/_print.scss
resources/sass/_progress.scss
resources/sass/_reboot.scss
resources/sass/_root.scss
resources/sass/_spinners.scss
resources/sass/_tables.scss
resources/sass/_toasts.scss
resources/sass/_tooltip.scss
resources/sass/_transitions.scss
resources/sass/_type.scss
resources/sass/_utilities.scss
resources/sass/_variables.scss
resources/sass/app.scss
resources/sass/bootstrap-grid.scss
resources/sass/bootstrap-reboot.scss
resources/sass/bootstrap.scss
resources/sass/mixins/_alert.scss
resources/sass/mixins/_background-variant.scss
resources/sass/mixins/_badge.scss
resources/sass/mixins/_border-radius.scss
resources/sass/mixins/_box-shadow.scss
resources/sass/mixins/_breakpoints.scss
resources/sass/mixins/_buttons.scss
resources/sass/mixins/_caret.scss
resources/sass/mixins/_clearfix.scss
resources/sass/mixins/_deprecate.scss
resources/sass/mixins/_float.scss
resources/sass/mixins/_forms.scss
resources/sass/mixins/_gradients.scss
resources/sass/mixins/_grid-framework.scss
resources/sass/mixins/_grid.scss
resources/sass/mixins/_hover.scss
resources/sass/mixins/_image.scss
resources/sass/mixins/_list-group.scss
resources/sass/mixins/_lists.scss
resources/sass/mixins/_nav-divider.scss
resources/sass/mixins/_pagination.scss
resources/sass/mixins/_reset-text.scss
resources/sass/mixins/_resize.scss
resources/sass/mixins/_screen-reader.scss
resources/sass/mixins/_size.scss
resources/sass/mixins/_table-row.scss
resources/sass/mixins/_text-emphasis.scss
resources/sass/mixins/_text-hide.scss
resources/sass/mixins/_text-truncate.scss
resources/sass/mixins/_transition.scss
resources/sass/mixins/_visibility.scss
resources/sass/utilities/_align.scss
resources/sass/utilities/_background.scss
resources/sass/utilities/_borders.scss
resources/sass/utilities/_clearfix.scss
resources/sass/utilities/_display.scss
resources/sass/utilities/_embed.scss
resources/sass/utilities/_flex.scss
resources/sass/utilities/_float.scss
resources/sass/utilities/_overflow.scss
resources/sass/utilities/_position.scss
resources/sass/utilities/_screenreaders.scss
resources/sass/utilities/_shadows.scss
resources/sass/utilities/_sizing.scss
resources/sass/utilities/_spacing.scss
resources/sass/utilities/_stretched-link.scss
resources/sass/utilities/_text.scss
resources/sass/utilities/_visibility.scss
resources/sass/vendor/_rfs.scss
